fastapi
uvicorn
sqlalchemy

passlib[bcrypt]
python-jose[cryptography]
psycopg2-binary
prometheus-fastapi-instrumentator
redis
prometheus-client
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
pyinstrument
